body {
  text-align: center;
  background-color: rgb(179, 180, 212);
}

.header {
  margin: 10px;
  color: rgb(56, 15, 102);
  padding: 10px;
  font-size: x-large;
}

button {
  margin: 20px 0px;
  width: 80px;
  height: 240px;
  background: linear-gradient(rgb(94, 92, 92), rgb(256, 256, 256));
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  color: darkblue;
  border-color: darkblue;
  border-style: double;
}

.selector {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  margin-top: 20px;
}
