body {
  text-align: center;
  background-color: silver;
}

button {
  margin-top: 50px;
  width: 80px;
  height: 240px;
  background: linear-gradient(rgb(0, 0, 0), rgb(256, 256, 256));
  font-size: xx-large;
  font-family: cursive;
  border-radius: 5px;
  color: orange;
}
